section {
  display: flex;
  flex-direction: row wrap;
  background-color: aqua;
  margin-left: 400px;
  padding: 10px;
}
.grid-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.body-width {
  display: flex;
  justify-content: center;
  margin-left: 400px;
}
.content {
  max-height: 150px;
  overflow: scroll;
}
