* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navbar-fixed-left {
  position: fixed;
  top: 0;
  width: 400px;
  height: 750px;
  z-index: 999;
}
.navbar {
  display: flex;
  flex-direction: column;
  background-color: black;
  height: 100%;
}

.logo {
  width: auto;
  height: 300px;
}
.main-nav li {
  text-align: center;
  margin: 15px auto;
}
.nav-links,
.logo {
  text-decoration: none;
  color: #f985b3;
  display: flex;
  justify-content: center;
  padding: 5px;
  font-size: 20px;
}
.hurray {
  color: #b9cef9;
}
