/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
*/
.navbar-fixed-left {
  width: 30%;
  height: 350px;
  z-index: 999;
}
.navbar {
  display: flex;
  flex-direction: row;
  background-color: #00ffff;
}
.main-nav {
  align-items: center;
}
.main-nav li {
  border: 1px solid purple;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 900px;
}
.nav-links,
.logo {
  text-decoration: none;
  color: #f985b3;
  display: flex;
  justify-content: center;
  padding: 5px;
  font-size: 20px;
}
*/ .hurray {
  color: #b9cef9;
}
